html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    height: 98%;
    width: 98%;
    margin-top: 5%;
    text-align: center;
}

form {
	visibility: visible;
}

input {
	width: 300px;
	font-size: 1em;
}

button {
	display: inline-block;

}

.sessionBox {
	width: 100%;
	color: rgb(186, 186, 186);
}

.sessStatus {
	margin: 0 auto;
	height: 1em;
	padding: 0.5em;
	width: 180px;
	display: block;
	position: inherit;
	margin-bottom: 1em;
	border-radius: 90px;
	color: white;
}

.started {
	background-color: rgb(141, 206, 141);
}

.ended {
	background-color: rgb(251, 150, 150);
}

.pending {
	background-color: rgb(220, 220, 220);
}

.result {
	margin-top: 1.5em;
}